extends layout
include mixins/_poemCard
include mixins/_pagination

block content
    .inner
        h2= title
        .poems
            each poem in poems
                +poemCard(poem)
        +pagination(page, pages, count)
