input, textarea {
  width:100%;
  padding:10px;
  border: 1px solid $black;
  &.input {
    &--error {
      border-color: red;
    }
  }
}

select {
  background: transparent;
  font-size: 14px;
  height: 29px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  width: 100%;
}

.ql-toolbar.ql-snow {
  margin-top: 20px;
}

#editor {
  margin-bottom: 20px;
  height: 20em;
}

label {
  padding: 20px 0;
  display: block;
  font-size: 1.2em;
}

.form {
  background: white;
  padding: 2rem;
  box-shadow: $grad;
  & + .form {
    margin-top: 4rem;
  }
  // I know this isn't bem but meh
  h2 {
    margin: 0;
    font-size: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $grey;
  }
}

.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: $black;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
  }
  input:checked ~ .tab-content {
    height: 75%;
  }
  .tab-content {
    height: 0;
    color: $black;
    -webkit-transition: height .35s;
    -o-transition: height .35s;
    transition: height .35s;
  }
  .tab-content p {
    margin: 1em;
  }
  label::after {
    position: absolute;
    right: 0;
    color: $white;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
}

