@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Roboto:500');

html {
  font-size:10px;
  font-family: 'EB Garamond', serif;
}

body {
  font-size:1.5rem;
  color:$black;
}

h1, h2, h3, h4, h5, h6, {
  font-size: 5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  letter-spacing:-1px;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

h3 {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  letter-spacing:-1px;
}

a {
  text-decoration: none;
  color:$black;
}

p a {
  border-bottom: 2px solid $grey;
}

p {
  line-height: 2;
  font-size: 1.6rem;
}

.title {
  word-wrap: break-word;
  position: relative;
  text-align: center;
  color: $black;
  z-index: 2;
  text-shadow: 0 1px 2px rgba(0,0,0,0.20);
  padding: 10px 0;
  margin:0;
  font-size: 40px;
  z-index: 2;
  line-height:1.1;
  transition: text-shadow .8s cubic-bezier(0.075, 0.82, 0.165, 1);
  &--long {
    font-size: 30px;
  }
  line-height:1.1;
  // inline link inside
  a {
    border-bottom: 0;
    color: $white;
  }
  &--white {
    color: $white;
  }
  &:hover {
    text-shadow: 0 1px 2px rgba(0,0,0,0.45);
  }
}

.title--single {
  max-width: 600px;
  margin-top: -2rem;
  font-size: 10rem;
  text-align: center;
  @media screen and (max-width: 650px){
    font-size: 6rem;
  }
}

